@tailwind base;
@tailwind components;
@tailwind utilities;


.str-chat__message-input {
  display: none !important;
}
.cp-input {
  display: flex;
  gap: 8px;
  padding: 10px;
  border-top: 1px solid #ddd;
  align-items: center;
}

.cp-input input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.cp-input button {
  background: #0ea5e9;
  border: none;
  padding: 8px 10px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.emoji-box {
  position: absolute;
  bottom: 60px;
}

.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #c9e8c9, #b7e7bb);
  height: 100%;
}

.str-chat__container {
  max-width: 1200px;
  width: 100%;
  height: 80% !important;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.str-chat__list {
  background-color: #ffffff;
  padding: 12px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}